<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navbar.html %}
    <header data-aos="fade-in" data-aos-delay="200" class="container-fluid col-12 mt-4 mt-lg-2 mb-5">
      <div class="d-flex gap-1 align-items-center">
        <h1 class="m-0">PLANLib</h1>
        <i class="fa-solid fa-flask fs-3"></i>
      </div>
      <h4><i>A General-Usage Library for Constraint Problems</i></h4>
    </header>
  <main class="container-fluid col-12">
    <div>
      <h3 data-aos="fade-in" data-aos-delay="300" class="m-0">What is PLANLib?</h3>
      <p data-aos="fade-in" data-aos-delay="300">
        PLANLib is a general-purpose library web application designed to organize, display, reference, and
        help solvers in anything related to <a style="text-decoration: none" class="external-reference text-reset pe-auto fw-bold" href="https://en.wikipedia.org/wiki/Automated_planning_and_scheduling">planning problems.</a> <br>
        Here you will find:
      </p>
    </div>
  </main>
  </body>
  {% include scripts.html %}
</html>
