---
links:
  - type: "link"
    url: "#"
    text: "Add a Problem"
  - type: "dropdown"
    name: "Problems"
    items:
      - url: "/problems/problems_by_ID.html"
        text: "Ordered by ID"
      - url: "/problems/problems_by_category.html"
        text: "Ordered by Category"
      - url: "/problems/problems_by_language.html"
        text: "Ordered by Language"
---

<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navbar.html %}
    <div class="container-fluid px-3" data-aos="fade-up">
      <h1 class="text-capitalize" data-aos="fade-right">
        {{ page.name | replace: "-"," " | split: '.' | slice: 0 }}
      </h1>
      <p data-aos="fade-left">
        <strong>Year:</strong> <span>{{ page.year }}</span>
      </p>
      <p data-aos="fade-right">
        <strong>Author:</strong> <span>{{ page.author }}</span>
      </p>
      <p data-aos="fade-left">
        <strong>Description:</strong> <span>{{ page.description }}</span>
      </p>

      <h2 class="mt-4" data-aos="fade-up">Variations:</h2>
      <ul class="list-group mb-4" data-aos="fade-up">
        {% for variation in page.variations %}
        <li class="list-group-item" data-aos="fade-up">
          <span class="fw-bolder">{{ variation.name }}:</span> {{
          variation.description }}
        </li>
        {% endfor %}
      </ul>
      <div class="d-flex justify-content-center" data-aos="fade-up">
        <a class="btn btn-primary mx-2 shadow" href="{{ page.modelPath }}"
          ><i class="fas fa-download me-2"></i>Model</a
        >
        <a class="btn btn-secondary mx-2 shadow" href="{{ page.instancesPath }}"
          ><i class="fas fa-download me-2"></i>Instances</a
        >
      </div>
    </div>
  </body>
  {% include scripts.html %}
</html>
