<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navbar.html %}
    <div class="container-fluid px-3" data-aos="fade-up">
      <h1 class="text-capitalize" data-aos="fade-right">
        {{ page.name | replace: "-"," " | split: '.' | slice: 0 }}
      </h1>
      <p data-aos="fade-left">
        <strong>Year:</strong> <span>{{ page.year }}</span>
      </p>
      <p data-aos="fade-right">
        <strong>Author:</strong> <span>{{ page.author }}</span>
      </p>
      <p data-aos="fade-left">
        <strong>Description:</strong> <span>{{ page.description }}</span>
      </p>
      <p data-aos="fade-left">
        <strong>Categories:</strong>
      </p>
      <ul>
        {% for category in page.categories %}
        <li>{{ category }}</li>
        {% endfor %}
      </ul>
      <p data-aos="fade-left">
        <strong>Language:</strong> <span>{{ page.language }}</span>
      </p>
      <pre
        class="language-bib py-0 border-2 rounded-2"
        style="
          width: fit-content !important;
          text-align: left;
          text-wrap: pretty;
        "
      >
<code class="language-bib">
@misc&#123;planlib:prob{{ page.ID }},
  title = &#123;&#123;PLANLib&#125; Problem {{ page.ID }}: {{ page.name }}&#125;,
  author = &#123;{{ page.author }}&#125;,
  editor = &#123;Espasa, Joan&#125;,
  booktitle = &#123;&#123;PLANLib&#125;: A library of Planning Problems&#125;,
  howpublished = &#123;\url&#123;{{ page.source }}&#125;&#125;
&#125;
</code>
    </pre>
      <h2 class="mt-4" data-aos="fade-up" data-aos-once="true">Variations:</h2>
      {% for variation in page.variations %}
      <ul class="list-group mb-4" data-aos="fade-up" data-aos-once="true">
        <li class="list-group-item">
          <div class="d-flex flex-column">
            <div>
              <span class="fw-bolder">{{ variation.name }}:</span>
              <span>{{ variation.description }}</span>
            </div>
            <div class="d-flex justify-con tent-center gap-2 mt-2">
              <a
                class="btn btn-primary mx-2 shadow"
                href="{{ variation.modelPath }}"
              >
                <i class="fas fa-download me-2"></i>Model
              </a>
              <a
                class="btn btn-secondary mx-2 shadow"
                href="{{ variation.instancesPath }}"
              >
                <i class="fas fa-download me-2"></i>Instances
              </a>
            </div>
          </div>
        </li>
      </ul>
      {% endfor %}
      <div class="d-flex justify-content-center gap-3 my-3">
        <button id="prev-variation" class="btn btn-secondary">
          Previous Variation
        </button>
        <button id="next-variation" class="btn btn-primary">
          Next Variation
        </button>
      </div>
    </div>

    {% include scripts.html %}
    <script>
      let link;
      document.addEventListener("DOMContentLoaded", () => {
        const light = "{{ site.baseurl }}/assets/css/prism-css-light.css";
        const dark = "{{ site.baseurl }}/assets/css/prism-css-dark.css";
        let theme =
          document.documentElement.getAttribute("data-bs-theme") === "dark"
            ? dark
            : light;
        link = document.createElement("link");
        link.rel = "stylesheet";
        link.type = "text/css";
        link.href = theme;
        document.head.appendChild(link);
      });
      document
        .getElementById("darkModeSwitch")
        .addEventListener("click", () => {
          document.head.removeChild(link);
          const light = "{{ site.baseurl }}/assets/css/prism-css-light.css";
          const dark = "{{ site.baseurl }}/assets/css/prism-css-dark.css";
          let theme =
            document.documentElement.getAttribute("data-bs-theme") === "dark"
              ? light
              : dark;
          link = document.createElement("link");
          link.rel = "stylesheet";
          link.type = "text/css";
          link.href = theme;
          document.head.appendChild(link);
        });
    </script>
  </body>
</html>
